// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border: 0;
	border-top: 1.5px solid rgba(0, 0, 0, 0.3);
}

.navbar-brand{
	font-size: 0px;
}


.layout__margin-auto {
	margin-right: auto;
	margin-left: auto;
}
.layout__clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.layout__gutters {
	padding-right: 1.25rem;
	padding-left: 1.25rem;
		.layout__gutters {
			padding-right: 2.5rem;
			padding-left: 2.5rem;
		}
		@include respond-to('tablet-portrait') {
			padding-right: 3rem;
			padding-left: 3rem;
		}
}


