main {
	&.Header__site-padding-top-with-promo {
		padding-top: $header-height + $promo-height + 0.6rem;
	}
  &.flex {
    min-height: calc(100vh - 5rem);
    flex: 1 0 auto;
    flex-flow: column nowrap;
  }
}