// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Header Elements
.Header__container {
	position: fixed;
	top: 0;
	z-index: 104;
	width: 100%;
	background: $white-base;
	height: 0;
	// Promotions banner
	.MarketingContainer__marketing-container {
		display: flex;
		position: relative;
		align-items: center;
		padding: 1rem;
		background-color: $brand-color;
		transition: margin-top .4s ease-out;
		z-index: 105;
		.MarketingContainer__promotion--link{
			display: block;
			.fa {
				float: right;
				color: $white-base;
				span{
					color: $white-base;
					font-family: $font-primary;
				}
				&.fa-map-marker:before {
					float: right;
					margin-left: 7px;
				}
			}
		}
	}
}


