/**
* Basic typography style for copy text
*/
body {
	@include font-size(16px);
	color: $text-color;
}


.font-light {
	font-style: normal;
	font-weight: 300;
	font-family: 'Futura', Helvetica, Arial, sans-serif
}

.font-regular {
	font-style: normal;
	font-weight: 400;
	font-family: 'Futura', Helvetica, Arial, sans-serif
}

.font-medium {
	font-style: normal;
	font-weight: 500;
	font-family: 'Futura', Helvetica, Arial, sans-serif
}